{
  presets: [
    "next/babel",
    "@babel/preset-es2017"
  ],
  "plugins": [],
  env: {
    development: {
      plugins: [
        [
          "inline-dotenv",
          {
            path: "./client/.env.development"
          }
        ]
      ]
    },
    production: {
      plugins: ["transform-inline-environment-variables"]
    }
  }
}
